@font-face {
      font-family: "Museo700";
      src: url(../fonts/MuseoSans_700.otf) format("OpenType");
      }
    
    @font-face{
      font-family: "Museo500";
      src: url(../fonts/MuseoSans_500.otf) format("OpenType");
    }  
    
    @font-face{
      font-family: "Museo900";
      src: url(../fonts/MuseoSans_900.otf) format("OpenType");
    }  
    
    @font-face{
      font-family: "Myriad";
      src: url(../fonts/MyriadPro-Regular.otf) format("OpenType");
    } 
    
    body{
          margin: 0;
          padding: 0;
          overflow-x:hidden;
           overflow-y:scroll;
    }

    #rescar{
      display:none;   
    } 

    .wrapper{
          z-index: 200;
          position: absolute;
    }

    

      .container1{
            display: flex;
            width: 100%;
            height: 100vh;
            padding: 4% 2%;
            box-sizing: border-box;
            
        }
        
        .box{
            flex: 1;
            overflow: hidden;
            margin: 8px;
            box-shadow: 0 20px 30px rgba(0, 0, 0, 0.20);
            line-height: 0;
            transition: all 600ms;
        }
        
        .box > img{
            width: 200%;
            height: calc(100% - 0vh);
            object-fit: cover;
            transition: all 300ms;
        }
        
             
        .box:hover{
            flex: 50%;
        }
        
        .box:hover > img{
            width: 100%;
            height: 100%;
        }
        


.logo {
      line-height: 30px;
      position: fixed;
      float: left;
      margin: -10px 30px;
      color: #fff;
      font-weight: bold;
      font-size: 20px;
      margin-top: 5px;
      letter-spacing: 2px;
      width: 25%;
}



nav {
      position: fixed;
      width: 100%;
      line-height: 80px;
      top: 0;
      left: 0;
      
}

nav ul {
      font-family: "Museo700";
      line-height: 60px;
      list-style: none;
      background: rgba(0, 0, 0, 0);
      overflow: hidden;
      color: #fff;
      padding: 0;
      text-align: right;
      margin: 0;
      padding-right: 20px;
      transition: 1s;
      
}

nav.black ul {
      background: white;
}

nav ul li {
      display: inline-block;
      padding: 16px 30px;
      line-height: 80px;
      text-decoration: none;
      text-transform: uppercase;
      transition: .5s;
      
}

nav ul li a {

      
      color: #17639C;
      font-size: 18px;
      text-decoration: none;
      
}

.bot:hover{
      
      color:#17639C;
      border-top: 2px solid gray;
      border-bottom: 2px solid gray;
      transition: .1s;
      
}

.menu-icon {
     line-height: 60px;
      width: 100%;
      background: white;
      text-align: right;
      box-sizing: border-box;
      padding: 15px 24px;
      cursor: pointer;
      color: #17639C;
      display: none;
}

#texto{
text-align: justify;
margin-right: 80px;
font-family: Myriad;
}


#perfil{
      background: white;
      
      width: 96%;
      height: 100%;
      margin-left: auto;
      margin-right: auto;
      padding: 5px;
      z-index: 2;
}

#gestion{
      background: white;
      
      width: 96%;
      height: 100%;
      margin-left: auto;
      margin-right: auto;
      padding: 5px;
      z-index: 2;
}

#proyecto{
      background: white;
      width: 96%;
      height: 100%;
      margin-left: auto;
      margin-right: auto;
      padding: 5px;
      z-index: 2;
}


#perfil img{
      width: 90%;
      z-index: 2;
}



@media(max-width: 768px) {

      .logo {
            position: fixed;
            top: 0;
            margin-top: 8px;
            width: 60%;
            align-content: center;
            margin-left: 0px;
      }

      nav ul {
            max-height: 0px;
            background: white;
      }

      nav.black ul {
            background: white;
      }

      .showing {
            max-height: 34em;
      }

      nav ul li {
            box-sizing: border-box;
            width: 100%;
            padding: 1px;
            text-align: center;
      }

      nav ul li a {

            font-size: 16px;
            text-align: center;
            padding: 10px;
                     
      }

      .menu-icon {
            display: block;
      }

      .container1{
            display: none;
      }

      #rescar{
        display:block;
        padding-top: 60px;   
        z-index: -1;
      }

      [class*="col-"] {
            width: 100%;
          }

      #fichas{
        padding-left: 40px;
      } 
      
      #fichasproyecto{
            padding-left: 50px;
          }

          #iconos{
            display: none;
      }     

      #iconosred{
            display: block;
      }
      
      #texto{
            padding-left:40px;
      }
}



#fichas{
	width: 1200px;
	margin: 50px auto;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.tarjeta-wrap{
	margin: 10px;
	-webkit-perspective: 800;
	perspective: 800;
}

.tarjeta{
	width: 300px;
	height: 350px;
	background: #17639C;
	position: relative;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transition: .7s ease;
	transition: .7s ease;
	-webkit-box-shadow: 0px 10px 15px -5px rgba(0,0,0,0.65);
	box-shadow: 0px 10px 15px -5px rgba(0,0,0,0.65);

}

.adelante, .atras{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.adelante{
	width: 100%;
}

.atras{
	-webkit-transform: rotateY(180deg);
	transform: rotateY(180deg);

	padding: 15px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;

	text-align: center;
	color: #fff;
	font-family: "open sans";
}

.tarjeta-wrap:hover .tarjeta{
	-webkit-transform: rotateY(180deg);
	transform: rotateY(180deg);
}

.card1{
	background-image: url(../image/image1.jpg);
	background-size: cover;
}

.card2{
	background-image: url(../image/image2.jpg);
	background-size: cover;
}

.card3{
	background-image: url(../image/image3.jpg);
	background-size: cover;
}


.containerp{
      width: 100%;
      height: 400px;
      
      flex-wrap: wrap;
      justify-content: center;
      margin: auto;
    }
    
    .containerp .cardp{
      width: 250px;
      height: 430px;
      border-radius: 8px;
      box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
      overflow: hidden;
      margin: 20px;
      text-align: center;
      transition: all 0.25s;
    }
    
    .containerp .cardp:hover{
      transform: translateY(-15px);
      box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
    }
    
    .containerp .cardp i{
      width: 250px;
      height: 220px;
    }
    
    
    .containerp .cardp h4{
      font-weight: 600;
    }
    
    .containerp .cardp p{
      padding: 0 1rem;
      font-size: 16px;
      font-weight: 300;
    }
    
    .containerp .cardp a {
      font-weight: 500;
      text-decoration: none;
      color: #3498db;
    }
    
    .fab {
    
    color: black;
    }
    
    .cardp h4{
      margin-top: -50px;
    }
    
    
    .fas {
      margin-top: 10px;
      border-radius: 3px;
      padding: 10px;
        color: #3498db;
    }

    .iconos{
          top: 50%;
          right:0;
          transform: translateY(-50%);
          position: fixed;
          z-index: 100;
          
    }

    .iconos ul{
          padding: initial;

    }

    .iconos ul{
      padding: initial;
      
}

.iconos ul li{
      height: 40px;
      width: 40px;
      list-style-type: none;
      padding-left: 6px;
      padding-top: 6px;
      margin-top: 5px;
      margin-right: 6px;
      background: transparent;
      
}


.facebook i:hover{
      color:#3b5998;
      transition: .2s;
}

.twitter i:hover{
      color:#55acee;
      transition: .2s;
}

.instagram i:hover{
      color:#8a49a1;
      transition: .2s;
      }

.whatsapp i:hover{
      color:#075E54;
      transition: .2s;
      }



.iconosred{
      top: 50%;
      left: 50%;
      transform: translateX(-50%);
      padding-top: 130px;
      position: fixed;
      z-index: 100;
      display: none;      
      
      
}

.iconosred ul{
      padding-right: 0px;
      padding-left: 0px;
      padding-bottom: 0px;
      padding-top: 0px;
      margin: 0px;
      
      
}

.iconosred ul li{
      list-style-type: none;
      display: inline;
      padding-right: 20px;
      
}

li img{
      width: 30px;
}

.gallery-section{
      width: 100%;
      padding: 60px 0;
      background: #f1f1f1;
    }
    
    .inner-width{
      width: 100%;
      max-width: 1200px;
      margin: auto;
      padding: 0 20px;
    }
    
    .gallery-section h1{
      text-align: center;
      text-transform: uppercase;
      color: #333;
    }
    
    .border{
      width: 180px;
      height: 4px;
      background: #333;
      margin: 60px auto;
    }
    
    .gallery-section .gallery{
      display: flex;
      flex-wrap: wrap-reverse;
      justify-content: center;
    }
    
    .gallery-section .image{
      flex: 25%;
      overflow: hidden;
      cursor: pointer;
    }
    
    .gallery-section .image img{
      width: 100%;
      height: 100%;
      transition: 0.4s;
    }
    
    .gallery-section .image:hover img{
      transform: scale(1.4) rotate(15deg);
    }
    
    @media screen and (max-width:960px) {
      .gallery-section .image{
        flex: 33.33%;
      }
    }
    
    @media screen and (max-width:768px) {
      .gallery-section .image{
        flex: 50%;
      }
    }
    
    @media screen and (max-width:480px) {
      .gallery-section .image{
        flex: 100%;
      }
    }

    #biografia, #gestion, #proyecto, #galeria, #final{
          padding-top: 80px;
    }

    #final{
      background: #005AA8;
      
      
    }

     






